# 忽略掉所有文件名是以下列表中的文件。
main.aux                      
main.bbl        
main.bcf
main.blg 
main.log
main.run.xml
main.toc
references.bbl
references.blg
                                                                                 